.form {
  position: relative;
  list-style: none;
  margin: 1rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  min-width: 25rem;
  width: 35rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: #fff;
}
.actions{
  margin-top: 0.5rem;
}
.actions button {
  width: 100%;
  background-color: #198754;
  border: 1px solid #198754;
  font-size: 20px;
}

.actions button:hover,
.actions button:active {
  background-color: rgba(25, 135, 84, 0.9);
  border-color: rgba(25, 135, 84, 0.9);
}
